@import "../base/_typography.scss";

.guion{
  display: flex;
  align-items: center;
  &:first-child{
    justify-content: flex-end;
  }
  overflow: hidden;
}

p {
  content: "";
  background: white;
  width: 250px;
  height: 1px;
  margin: 0;
  // transform: scaleX(0);
  // transform-origin: right center;
  // transition: transform 0.3s ease;
}
