@import "../base/typography.scss";

section{
  margin: 0 auto;
  width: 100%;
  height: 100vh;

  h1{
    width: 100%;
    font-family: $Lobster;
    font-size: 4.500em; // 72px
    text-align: center;
    padding-top: 4.5%;
    margin: 0 auto;
  }

  p{
    font-family: $Raleway;
    font-size: 1.125em; // 18px
    margin: 0 auto 20px;
  }
}
